/*******************************************************
TITLE: Fixed Three-Column Over Four-Column Layout V1.0
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:.5em;
padding:0;
height:100%;
background-color:#ffffff;
color:#454545;  
font-family:"Bitter", sans-serif;
font-size:.9em;
}

#top_background {
	background: url('network.png');
	background-repeat: no-repeat;
	background-size: 350px;
	background-position: 80% 0%;
}

hr {
margin-bottom:20px;
border:none;
width:100%;
color:#ebebeb;
height:1px;
clear:both;
}

#postHeader { 	
margin:0 auto;
padding:0em .2em .2em 0;
width:auto;
text-align:right;
vertical-align: middle;	
font-family:"Bitter", serif;
font-size:1em;
text-transform:uppercase; 
background-color:#ebebeb;
color:#f15a22;
}

 a {
text-decoration:none;
color:#454545;
}

#postHeader a:hover {
color:#454545;
text-decoration:underline;
font-size:1em;
}



#navbar {
margin: 1em 2em 0 -1em; /* Mozzila attributes */
padding:1em 0 5em 0 !important; /* IE specific attributes */
padding:1em 0 0 0;
display: block;
}

#navbar h1 {
margin:0 0 -1em 3em !important;
margin:.3em 0 0 0em;
padding:0 0 1em 0;
font-family: 'Bitter', serif;
font-weight: bolder;
display: block;
color: #6701c8;
font-size: 3.8em;
}

#navbar h2 {
margin:0 0 0 7em;
padding:.2em 0 .2em 0 !important;
padding:1em 0 1em 0;
list-style:none;
display:block;
color:#f15a22;
font-family: "Bitter", serif;
font-weight: bold;
font-size: 2em;
}


#header {
margin:0 1em 0 10em;
padding:0 30px 0  0;
height:auto;
/*-color:#9aedfd;*/
border-top:none;
}

#header p {
	margin:0 0 0 0;
padding:1em 1em 1em 1%;
font-size: 1.3em;
color: #454545;
font-family: "Source Sans Pro", serif;
font-style: italic;
}

#header a {
color: #454545;
font-family: "Source Sans Pro", serif;
font-style: italic;
text-decoration: underline;
}

.box_div {
margin: 100px 0px 0px 200px;
}



.box_div ul {
	font-size: 1.5em;
	font-weight: bold;
	color: #6701cb;
	list-style: none;
	width: 100%;
	background-color: #ffffff;
	margin:1.5em 2em 2em 0em;
	height:auto;
	text-decoration: underline;
}

.box_div a {
	color:#454545;
}
.box_div a:hover {
	text-decoration: underline;
}

li {
	display: inline-block;
	padding: 0px 45px 0px 0px;
}

.topic {
	padding: 50px 20% 30px 20px;
	width: 100%;
	height: 375px;
}

div[id^='topic'] {
	display: none;
}

.icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	float: left;
	padding-left: 75px;
	padding-bottom: 5px;
} 

.topic h1 {
	font-family: 'Bitter', serif;
	color: #f15a22;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 5px; 
	display: inline;
	vertical-align: center;
}

.topic p {
	font-family: 'Source Sans Pro','Helveticca', sans-serif;
	color: 454545;
	padding: 1em 10% .5em 10%;
	font-size: 1.1em;
}


#topic_digital {
	background: url('twitter.png') no-repeat;
	background-position: 50% 50%;
	background-size: 300px;
}

#topic_data {
	background: url('computer.png') no-repeat;
	background-position: 90% 90%;
	background-size: 270px;
}

#topic_community {
	background: url('check.png') no-repeat;
	background-position: 40% 40%;
	background-size: 280px;
}

#topic_international {
	background: url('airplane.png') no-repeat;
	background-position: 70% 70%;
	background-size: 300px;
}

a.paragraph {
	font-family: 'Source Sans Pro', serif;
	color: 454545;
	text-decoration: underline;
}

#footer {
position:relative;
clear:both;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:5em;
line-height:2em;
text-align:center;
font-size:1em;
background-color:#ebebeb;
color: #b301fa;
}

#footer p {
	color: #f15a22;
}

#footer a {
	color: #454545;
	text-decoration: none;
	font-size: 1em;
}