/*******************************************************
TITLE: Fixed Three-Column Over Four-Column Layout V1.0
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

html, body {
background-color:#ffffff;
color:#454545;  
font-family:"Bitter", sans-serif;
font-size:.95em;
text-align: justify;
height: 100%;
}


#top_background {
	background: url('network.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 75%;
}


#postHeader { 	
font-family:"Bitter", serif;
font-size:100%;
text-transform:uppercase; 
background-color:#ebebeb;
color:#f15a22;
text-align: right;
}

 a {
text-decoration:none;
color:#454545;
}

#postHeader a:hover {
color:#454545;
text-decoration:underline;
font-size:1em;
}



#navbar {
min-height: 250px;
}

#navbar h1 {
font-family: 'Bitter', serif;
font-weight: bolder;
color: #6701c8;
font-size: 300%;
padding: 0 0 0 10%;
text-align: left;
}

#navbar h2 {
list-style:none;
color:#f15a22;
font-family: "Bitter", serif;
font-weight: bold;
font-size: 200%;
padding: 0 0 0 13%;
text-align: left;
}


#header {
border-top:none;
}

#header p {
font-size: 1.3em;
color: #454545;
font-family: "Source Sans Pro", serif;
font-style: italic;
padding: 0 10% 0 10%;
}

#header a {
color: #454545;
font-family: "Source Sans Pro", serif;
font-style: italic;
text-decoration: underline;
}

ul {
    list-style:none;
    padding-left:0;
}​

 .box_div {

	text-align: left;
}



.box_div ul {
	font-size: 1.5em;
	font-weight: bold;
	color: #6701cb;
	list-style: none;
	background-color: #ffffff;
	display: inline-flex;
	padding: 0 0 0 13%;
	flex-wrap: nowrap;
}

.box_div li {
	padding-right: 5%;
}

.box_div a {
	color:#454545;
	text-decoration: underline;

}
.box_div a:hover {
	text-decoration: underline;
}


.topic {
	height: 375px;
	padding: 50px 0 30px 0;
}

#close {
	height: 25px;
	width: 25px;
	display: inline-block;
	float: right;
}

div[id^='topic'] {
	display: none;
}

.icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	padding-right: 1.5em; 
} 

.topic h1 {
	font-family: 'Bitter', serif;
	color: #f15a22;
	padding-left: 10%;
	display: inline;
	vertical-align: center;
}

.topic p {
	font-family: 'Source Sans Pro','Helveticca', sans-serif;
	color: 454545;
	font-size: 1.2em;
	padding: 0 10% 0 13%;
}


#topic_digital {
	background: url('twitter.png') no-repeat;
	background-position: 50% 50%;
	background-size: 300px;
}

#topic_data {
	background: url('computer.png') no-repeat;
	background-position: 90% 90%;
	background-size: 270px;
}

#topic_community {
	background: url('check.png') no-repeat;
	background-position: 40% 40%;
	background-size: 280px;
}

#topic_international {
	background: url('airplane.png') no-repeat;
	background-position: 70% 70%;
	background-size: 300px;
}

a.paragraph {
	font-family: 'Source Sans Pro', serif;
	color: 454545;
	text-decoration: underline;
}

#footer {
text-align:center;
font-size:1em;
background-color:#ebebeb;
color: #b301fa;
bottom: 0;
}

#footer p {
	color: #f15a22;
}

#footer a {
	color: #454545;
	text-decoration: none;
	font-size: 1em;
}