/*******************************************************
TITLE: Fixed Three-Column Over Four-Column Layout V1.0
DATE: 20060807
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:.5em;
padding:0;
height:100%;
background-color:#f7ebfc;
color:#000000;  
font-family:"Bitter", sans-serif;
font-size:.9em;
}


hr {
margin-bottom:20px;
border:none;
width:100%;
color:#ffffff;
background-color:#ffffff;
height:1px;
clear:both;
}

#postHeader { 	
margin:0 auto;
padding:0 .2em .3em .2em;
width:auto;
text-align:right;
vertical-align: middle;	
font-family:"Bitter", serif;
font-size:1em;
 text-transform:uppercase; 
}

#postHeader a {
	text-decoration:none;
color: #000000;
}

#postHeader a:hover {
color:#616161;
text-decoration:none;
}

#centerColumn { 	
margin:0 auto;
width:auto;
text-align:left;
vertical-align: middle;	
background-color:#f7ebfc;
display: block;
}


#navbar {
margin: 1em 2em 0 -1em; /* Mozzila attributes */
padding:1em 0 2em 0 !important; /* IE specific attributes */
padding:1em 0 0 0;
background-color:#f7ebfc;
display: block;
}

#navbar h1 {
margin:0 0 -1em 3em !important;
margin:.3em 0 0 0em;
padding:0 0 1em 0;
font-family: 'Bitter', serif;
font-weight: bolder;
display: block;
color: #b301fa;
font-size: 4em;
}

#navbar h2 {
margin:0 0 0 7em;
padding:.2em 0 .2em 0 !important;
padding:1em 0 1em 0;
list-style:none;
display:block;
color:#ff7c00;
background-color:#f7ebfc;
font-family: "Bitter", serif;
font-weight: bold;
font-size: 2em;
}


#header {
margin:0 -1em 0 -1em;
padding:0 0 0 0;
height:auto;
background-color:#faffa2;
border-top:none;
}

#header p {
	margin:0 0 0 0;
padding:1em 10% 1em 25%;
font-size: 1.3em;
color: 000000;
font-family: "Bitter", serif;
font-style: italic;
}

#header a {
color: 616161;
font-family: "Bitter", serif;
font-style: italic;
text-decoration: none
}

#box_div {
width: 100%;
background-color: f7ebfc;
margin:0 -1em 0 -1em;
padding:0 0 0 0;
height:auto;
text-align: center;
}

#box_1 {
margin:2em 2.5% 2em 10%;
padding:8px;
display: inline-block;
width:150px;
height: 150px;
background-color:#f7ebfc;
display: inline-block;
}

#box_2 {
margin:2em 2.5% 2em 2.5%;
padding:8px;
display: inline-block;
width:150px;
height: 150px;
background-color:#f7ebfc;
display: inline-block;
}

#box_3 {
margin:2em 2.5% 2em 2.5%;
padding:8px;
display: inline-block;
width:150px;
height: 150px;
background-color:#f7ebfc;
display: inline-block;
}

#box_4 {
margin:2em 10% 2em 2.5%;
padding:8px;
display: inline-block;
width:150px;
height: 150px;

background-color:#f7ebfc;
display: inline-block;
}

#topic {
	padding: 30px 15% 30px 15%px;
	width: 100%;
	height: auto;
}

#topic h2 {
	font-family: 'Bitter', serif;
	color: #ff7c00;
	margin-left: 25px;
	margin-bottom: 10px;
}

#footer {
position:relative;
clear:both;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
font-size:1em;
background-color:#f7ebfc;
color: #b301fa;
}

#footer a {
	color: 000000;
	text-decoration: none;
}